<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="Cart.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <title>Document</title>
  <link rel="stylesheet" href="Cart.css">
</head>

<body>
  <div id="sb-site">
    <div class="br-header">
      <div id="top-nav" class="hidden-xs">
        <div class="container">
          <ul class="clearfix">
            <li><a href="#"><i class="fa fa-bus" aria-hidden="true"></i> Trang chủ</a></li>
            <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Lịch trình xe chạy</a></li>
            <li><a href="#"><i class="fa fa-taxi" aria-hidden="true"></i>Mua vé</a></li>
            <li class="pull-right diff"><a href="#"><span class="hidden-xs">Đăng nhập</span></a></li>
            <li class="pull-right"> <a target="_blank" href="#">Đăng ký</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section id="body-content">
      <div id="steps" class="container">
        <ul class="list-step clearfix">
          <li>Chọn tuyến <span></span> </li>
          <li class="active first">Chọn ghế <span></span></li>
          <li>Thông tin khách hàng <span></span></li>
          <li>Thanh toán <span></span></li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-12 col-ms-12">
            <div class="panel">
              <p class="text-center text-primary text-uppercase">TP.Hồ Chí Minh - Đà Lạt ngày <span>25-10-2019</span>
              </p>
              <form id="form-steps">
                <fieldset>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="">Chọn tuyến xe</label>
                        <div class="controls">
                          <p class="form-control">
                            <span class="f-left">Le Hong Phong ⇒ Da Lat</span>
                            <span class="f-right">
                              <span>250.000<sup>₫</sup></span>&nbsp;
                              <input type="radio" required="">
                            </span>
                          </p>
                        </div>
                        <div class="controls">
                          <p class="form-control">
                            <span class="f-left">BX Mien Dong ⇒ Da lat</span>
                            <span class="f-right">
                              <span>250.000<sup>₫</sup></span>&nbsp;
                              <input type="radio" required="">
                            </span>
                          </p>
                        </div>
                        <div class="controls">
                          <p class="form-control">
                            <span class="f-left">BX An Suong ⇒ Da Lat</span>
                            <span class="f-right">
                              <span>250.000<sup>₫</sup></span>&nbsp;
                              <input type="radio" required="">
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="">Chọn giờ khởi hành</label>
                        <div class="controls">
                          <select class="form-control " required="">
                            <option value="3034414" label="01:00 (Limousine)" selected="selected">01:00
                              (Limousine)</option>
                            <option value="3034445" label="02:00 (Limousine)">02:00 (Limousine)</option>
                            <option value="3034476" label="03:30 (Limousine)">03:30 (Limousine)</option>
                            <option value="3033575" label="05:00 (Limousine)">05:00 (Limousine)</option>
                            <option value="3033606" label="06:00 (Limousine)">06:00 (Limousine)</option>
                            <option value="3033637" label="07:00 (Limousine)">07:00 (Limousine)</option>
                            <option value="3033668" label="08:00 (Limousine)">08:00 (Limousine)</option>
                            <option value="3033699" label="09:00 (Limousine)">09:00 (Limousine)</option>
                            <option value="3033730" label="10:00 (Limousine)">10:00 (Limousine)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="">Chọn điểm lên xe</label>
                        <!-- ngIf: pickUpPoints.length > 0 -->
                        <div class="controls">
                          <select class="form-control" required="">
                            <option value="1260073" label="VP Đề Thám: 272 - 274 Đề Thám, P.Phạm Ngũ Lão , Q.1 , TP.HCM"
                              selected="selected">VP Đề Thám: 272 - 274 Đề Thám, P.Phạm Ngũ Lão , Q.1 , TP.HCM
                            </option>
                            <option value="1260190"
                              label="VP BX Miền Tây: 395 Kinh Dương Vương , P.An Lạc , Q.Bình Tân , TP.HCM">VP BX
                              Miền Tây: 395 Kinh Dương Vương , P.An Lạc , Q.Bình Tân , TP.HCM</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-section">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ms-12">
                      <a ng-click="prev()" class="btn btn-primary btn-flat"> Quay lại</a>
                      <button type="submit" class="btn btn-success btn-flat">Tiếp tục</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-sm-8 col-xs-12 col-ms-12">
            <div class="panel">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <strong class="text-uppercase">Số ghế:</strong>
                      <span ng-show="info.selectSeats.length > 0" class="ng-hide">
                      </span><span ng-show="info.selectSeats.length == 0" class="">Chưa chọn ghế</span>
                    </td>
                    <td class="text-right">
                      <strong class="text-uppercase">Tổng tiền:</strong>
                      (<span class="text-primary" style="font-weight: 600;"
                        ng-bind-html="info.total|svcMoney">0<sup>₫</sup></span>)
                    </td>
                  </tr>
                </tbody>
              </table>
              <div ng-switch="" on="info.departureTime.Kind" ng-if="seats.length > 0">
                <div ng-switch-when="Limousine">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <table class="table grid-seat">
                        <thead>
                          <tr>
                            <th colspan="2">
                              <p class="text-center text-uppercase  text-primary">SƠ ĐỒ GHẾ</p>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="seat">A04</div>
                            </td>
                            <td>
                              <div class="seat">A03</div>
                            </td>
                            <td>
                              <div class="seat">A02</div>
                            </td>
                            <td>
                              <div class="seat">A01</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="seat">A08</div>
                            </td>
                            <td>
                              <div class="seat">A07</div>
                            </td>
                            <td>
                              <div class="seat">A06</div>
                            </td>
                            <td>
                              <div class="seat">A05</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="seat">A12</div>
                            </td>
                            <td>
                              <div class="seat">A11</div>
                            </td>
                            <td>
                              <div class="seat">A10</div>
                            </td>
                            <td>
                              <div class="seat">A09</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="seat">A16</div>
                            </td>
                            <td>
                              <div class="seat">A15</div>
                            </td>
                            <td>
                              <div class="seat">A14</div>
                            </td>
                            <td>
                              <div class="seat">A13</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="seat">A20</div>
                            </td>
                            <td>
                              <div class="seat">A19</div>
                            </td>
                            <td>
                              <div class="seat">A18</div>
                            </td>
                            <td>
                              <div class="seat">A17</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="seat">A24</div>
                            </td>
                            <td>
                              <div class="seat">A23</div>
                            </td>
                            <td>
                              <div class="seat">A22</div>
                            </td>
                            <td>
                              <div class="seat">A21</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="seat">A28</div>
                            </td>
                            <td>
                              <div class="seat">A27</div>
                            </td>
                            <td>
                              <div class="seat">A26</div>
                            </td>
                            <td>
                              <div class="seat">A25</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
                      <div></div><span>Đang chọn</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
                      <div class="booked"></div><span>Đã đặt</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
                      <div class="nothing"></div><span>Còn trống</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>