<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="Cart.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <title>Document</title>
  <link rel="stylesheet" href="Cart.css">
</head>

<body>
  <div id="sb-site">
    <div class="br-header">
      <div id="top-nav" class="hidden-xs">
        <div class="container">
          <ul class="clearfix">
            <li><a href="#"><i class="fa fa-bus" aria-hidden="true"></i> Trang chủ</a></li>
            <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Lịch trình xe chạy</a></li>
            <li><a href="#"><i class="fa fa-taxi" aria-hidden="true"></i>Mua vé</a></li>
            <li class="pull-right diff"><a href="#"><span class="hidden-xs">Đăng nhập</span></a></li>
            <li class="pull-right"><a target="_blank" href="#"><i class="fa fa-facebook-square"></i> Đăng ký</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div flash-message="5000">
      <div role="alert" ng-show="hasFlash" class="alert  alert- alert-dismissible ng-hide alertIn alertOut">
        <button type="button" class="close" close-flash=""></button>
      </div>
    </div>
    <!-- ngView:  -->
    <section id="body-content">
      <div id="steps" class="container">
        <ul class="list-step clearfix">
          <li>Chọn tuyến <span></span> </li>
          <li>Chọn ghế <span></span></li>
          <li>Thông tin khách hàng <span></span></li>
          <li class="active first">Thanh toán <span></span></li>
        </ul>
      </div>
      <div id="content-steps" class="container">
        <div class="row">
          <div class="col-ld-6 col-md-12 col-sm-12 col-xs-12 col-ms-12">
            <div class="panel">
              <p class="text-center text-uppercase text-primary">
                <strong>Thông tin đặt vé</strong>
              </p>
              <form class="form-horizontal ng-pristine ng-valid" name="form" novalidate="">
                <div class="form-group">
                  <div class="col-md-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="col-xs-3">Tuyến:</td>
                          <td class="col-xs-9" colspan="3" ng-bind-html="step2Info.selectRoute.Name">Bac Lieu ⇒ Sai
                            Gon</td>
                        </tr>
                        <tr>
                          <td>Ngày đi:</td>
                          <td>
                            <span ng-bind-html="step2Info.departureTime.Time">08:00</span>
                            <span ng-bind-html="step1Info.departureDate|svcDate">26-10-2019</span>
                          </td>
                          <td>Ghế/giường:</td>
                          <td>
                            <!-- ngRepeat: s in step2Info.selectSeats --><span
                              ng-repeat="s in step2Info.selectSeats">A14</span>
                            <!-- end ngRepeat: s in step2Info.selectSeats -->
                          </td>
                        </tr>
                        <tr></tr>
                        <tr>
                          <td>Điểm lên xe:</td>
                          <td colspan="3" ng-bind-html="step2Info.pickUpPoint.Address">VP Bến Xe Bạc Liêu , Đường Trần
                            Phú , Khóm 2 , P.7 , TP.Bạc Liêu (TERMINAL BUS STATION)</td>
                        </tr>
                        <tr class="sperator">
                          <td>Họ tên:</td>
                          <td ng-bind-html="step3Info.CustName">rt</td>
                          <td>Ngày sinh:</td>
                          <td ng-bind-html="step3Info.CustBirthDay|svcDate"></td>
                        </tr>
                        <tr>
                          <td>Email:</td>
                          <td ng-bind-html="step3Info.CustEmail">hoa@gmail.com</td>
                          <td>SĐT:</td>
                          <td>
                            <span ng-bind-html="step3Info.CustMobile">0123456789</span>
                            <span ng-bind-html="step3Info.CustMobile2"></span>
                          </td>
                        </tr>
                        <tr>
                          <td>Tổng tiền:</td>
                          <td colspan="3">
                            <strong class="text-primary"
                              ng-bind-html="step2Info.total|svcMoney">170.000<sup>₫</sup></strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12 col-md-12 col-sm-2 col-xs-12 col-ms-12">
                    <a ng-click="prev()" class="btn btn-primary btn-block btn-flat">
                      <i class="fa fa-arrow-left icon-flat bg-btn-actived"></i> Quay lại
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>